.Photo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Photo__btn .material-icons {
	font-size: 60px;
	color: #9d9d9d;
	transition: 0.2s ease-in-out;

	&:hover {
		color: #333333;
	}
}