.Photo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.PhotoBtn {
	cursor: pointer;
}

#photoIcon {
	width: 70px;
	height: 70px;
	fill: #9d9d9d;
	transition: 0.2s ease-in-out;

	&:hover {
		fill: #333333;
	}

	&:active {
		opacity: 0.7;
	}
}