@import "functions";

.SheetA4 {
  display: flex;
  padding: sm(0.5);
  align-content: flex-start;
  flex-wrap: wrap;
  width: sm(21);
  height: sm(29.67);
  border: 1px solid black;
  box-sizing: border-box;
}
