button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }
  button:active {
    opacity: 0.5; }

.SheetA4 {
  display: flex;
  padding: 28.34646px;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 1190.55118px;
  height: 1682.07874px;
  border: 1px solid black;
  box-sizing: border-box; }

.Badge {
  position: relative;
  margin: 28.34646px;
  width: 481.88976px;
  height: 311.81102px; }

.Badge__container {
  display: grid;
  grid-template-rows: 113.38583px 198.4252px;
  grid-template-columns: 141.73228px 1fr;
  border: 1px solid black; }

.Badge__delete-btn {
  position: absolute;
  top: 0;
  right: 0; }
  .Badge__delete-btn .material-icons {
    padding: 7px;
    transition: 0.2s ease;
    font-size: 35px;
    color: #aaaaaa;
    visibility: hidden; }

.Badge__delete-btn:hover > .material-icons {
  color: #666666;
  visibility: visible; }

.Badge__field {
  padding: 5px;
  border: 1px solid black;
  background-position: center;
  background-repeat: no-repeat; }

.Badge__text {
  margin: 1rem 0.5rem;
  font-family: Arial, sans-serif;
  font-size: 19px;
  text-align: center; }

h2.Badge__text {
  font-size: 28px; }

.Badge__input {
  display: inline-block;
  width: 100%;
  font: inherit;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 2px; }
  .Badge__input--number {
    width: 4rem; }

.pass-number {
  margin: 1rem 0; }

.full-name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.profession {
  margin-top: 0;
  margin-bottom: 2rem;
  font-style: italic; }

.director {
  display: flex;
  justify-content: space-between; }

.dir-name {
  font-weight: bold;
  font-style: italic; }

.NewBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28.34646px;
  width: 481.88976px;
  height: 311.81102px;
  border: 4px dashed #aaaaaa;
  border-radius: 8.50394px;
  box-sizing: border-box; }

.plus-btn .material-icons {
  font-size: 120px;
  color: #9d9d9d;
  transition: 0.3s ease; }
  .plus-btn .material-icons:hover {
    transform: rotate(90deg); }

.Photo {
  display: flex;
  justify-content: center;
  align-items: center; }

.Photo__btn .material-icons {
  font-size: 60px;
  color: #9d9d9d;
  transition: 0.2s ease-in-out; }
  .Photo__btn .material-icons:hover {
    color: #333333; }
