.SheetA4 {
  display: flex;
  padding: calc(0.5 * 144px / 2.54);
  align-content: flex-start;
  flex-wrap: wrap;
  width: calc(21 * 144px / 2.54);
  height: calc(29.6 * 144px / 2.54);
  border: 1px solid black;
  box-sizing: border-box;
}
